<!DOCTYPE html>
<html>
    {% include head.html %}
  <body>
    <section class="hero is-dark is-fullheight ">

        <div class="hero-head">
            {% include header.html %}
    
        </div>
    
    
        <div class="hero-body ">
            <div class="container has-text-centered is-centered">
                <figure class="avatar image">
                    <a href="{{ "/" | relative_url }}">
                        <img class="is-rounded" src="../assets/images/dicps.png" alt="">
                    </a>
                </figure>
                <h1 class="title is-1">
                  {{ site.title }}
                </h1>
                
                <h4 class="title is-2">
                  {{ site.location }}
                </h4>
                <h4 class="title is-2">
                  {{ site.date }}
                </h4>



                <p class="subtitle">
                  {{ site.description }}
                </p>
                
                <div class="socials">
                  {% for i in site.contacts %}
                  <a href="{{i.url}}" target="_blank">
                    <i class="fa-brands fa-{{i.title}} fa-lg"></i>
            
                  </a>
            
                  {%endfor%}

                  {% assign email = site.contacts | where:"title", "email"%}
                  {% for item in email %}
                    {% if item.title == "email" %}
                    <a href="{{ item.url }}" target="_blank">
                    <i class="fa-solid fa-envelope fa-lg" style="margin-left: -4px;"></i> {{ item.email }}
                    </a>
                    {% endif %}
                  {%endfor%}
            
                </div>

                <hr>
                <h4 class="title is-2">
                  Background
                </h4>
                <p class="body">
                  {{ site.background }}
                </p>

                <hr>
                <h4 class="title is-2">
                  Submission Guidelines
                </h4>
                <p class="body">
                  {{ site.submission_guidelines }}
                </p>

                <hr>
                <h4 class="title is-2">
                  Important Dates
                </h4>
                <p class="body">
                  {{ site.important_dates }}
                </p>

                <hr>
                <h4 class="title is-2">
                  Program Chairs
                </h4>
                <p class="body">
                  {{ site.program_chairs }}
                </p>

                
              </div>
        </div>
    </section>

    

    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
    <script src="../assets/js/wild.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
          {% include footer.html %}
  </body>
</html>
